<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/homepagestyle.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h1>Todo List</h1>
    <div>
        
    </div>
    <table>
        <thead>
            <tr>
                <th scope="col">Todo</th>
                <th scope="col" class="date">Due Date</th>
                <th scope="col" class="button"></th>
                <th scope="col" class="button"></th>
                <th scope="col" class="button"></th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todolist %}
                <tr>
                    <td class="content">{{todo.todo}}</td>
                    <td>{{todo.date}}</td>
                    <td><input type="checkbox"></td>
                    <td><button type="button">Edit</button></td>>
                    <td><button type="button">Delete</button></td>>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>